<div class="top-line"></div>
<div class="utilities-wrapper">
	<div class="utilities">
		<a ui-sref="start" class="logo-menu"></a>
		<div class="player-indicator" ng-class="{'blue-on': game.whosTurn == 'blue', 'blue-off': game.whosTurn != 'blue'}"></div>
		<div class="player-indicator" ng-class="{'green-on': game.whosTurn == 'green', 'green-off': game.whosTurn != 'green'}"></div>
		<div class="player-indicator" ng-if="game.teams > 2" ng-class="{'orange-on': game.whosTurn == 'orange', 'orange-off': game.whosTurn != 'orange'}"></div>
		<div class="player-indicator" ng-if="game.teams > 3" ng-class="{'red-on': game.whosTurn == 'red', 'red-off': game.whosTurn != 'red'}"></div>
		<div class="game-code">{{game.code}}</div>
	</div>
</div><!--utilities-wrapper-->
<div class="game-table">
	<div class="container">
		<div class="card-container">
			<div class="card" ng-class="{'blue-off': card.opened, 'blue-on': !card.opened}" ng-repeat="card in game.getCardColor('blue')"><span class="spy">{{card.name}}</span></div>
			<div class="card" ng-class="{'orange-off': card.opened, 'orange-on': !card.opened}" ng-repeat="card in game.getCardColor('orange')"><span class="spy">{{card.name}}</span></div>
			<div class="card" ng-class="{'green-off': card.opened, 'green-on': !card.opened}" ng-repeat="card in game.getCardColor('green')"><span class="spy">{{card.name}}</span></div>
			<div class="card" ng-class="{'red-off': card.opened, 'red-on': !card.opened}" ng-repeat="card in game.getCardColor('red')"><span class="spy">{{card.name}}</span></div>
		</div>
	</div>
</div>
