<div class="rules-header">
    <a ui-sref="game.start" class="rules-back"></a>
    <div class="rules-blank"></div>
    <div class="rules-title">Rules</div>
    <div class="clearfix"></div>
</div>
<div class="rules-body">
<div class="rules-container">
    <div class="column-text-sm">
        <div class="rules-title-sm">Game Setup</div>
        <div class="rules-box">
            <div class="rules-point">
                <div class="point-text point-1">Split into 2, 3 or 4 teams.</div>
            </div>
            <div class="rules-point">
                <div class="point-text point-2">Assign one <strong>Word Master</strong> to
                each team. Other are Agents.</div>
            </div>
            <div class="rules-point">
                <div class="point-text point-3">Open <strong>Game Board</strong> on a tablet or phone and place it in the middle, visible to all.</div>
            </div>
            <div class="rules-box tip">
                Larger screen is better,
                as all players will be clicking
                on words to reveal colors.
            </div>
        </div>

    </div><!--column-text-sm-->
    <div class="column-img-lg">
        <img src="images/rules-game-board.jpg" />
    </div>

    <div class="clearfix"></div>


    <div class="column-text-right">
        <div class="rules-box">
            <div class="rules-point">
                <div class="point-text point-4">If you are a <strong>Word Master</strong>, open the Chief Card on your phone.
                Sync the Chief Card with current game by entering the 4-digit game ID found on Game Board.</div>
            </div>
            <div class="rules-box tip">
                Make sure Agents can't see this card!
            </div>
        </div>
    </div><!--column-text-right-->
    <div class="column-img-chiefcard">
        <img src="images/rules-chief-card.jpg" />
    </div>

    <div class="clearfix"></div>

    <div class="rules-title-lg">Game Play</div>

    <div class="column-text-lg">
        <div class="rules-box">
            <div class="rules-point">
                <div class="point-text point-1">First team starts the Round. Word Master looks at the Chief Card and tries to come up with a single word clue to hint words that belong to his/her team.
                </div>
            </div>
            <div class="rules-point">
                <div class="point-text point-2">Word Master states a single word, plus number indicating how many cards the word relates to. Careful not to hint to words belonging to other teams!
                For example, you can use the word &quot;Fruit&quot; to combine &quot;Apple&quot; and &quot;Kiwi&quot;.</div>
            </div>
            <div class="rules-point">
                <div class="point-text point-3">Agents discuss what they think their Word Master meant. Then, after making a collective decision, one of the agents clicks the words on the Game Board. Ideally, agents should open only the words of their own color. As soon as they make a wrong guess, the turn ends and the next team starts guessing. </div>
            </div>
            <div class="rules-point">
                <div class="point-text point-4">The round ends when all Word Masters had a chance to hint words to their Agents. First team to have all its words revealed at the end of a round wins the game. You may have more than one winner.</div>
            </div>

            <div class="rules-box tip">
                When giving clues, Word Master can't say a word containing the same root as any word on the Game Board.
            </div>
        </div>

    </div><!--column-text-lg-->
    <div class="column-img-sm">
        <img src="images/rules-team-words.jpg" />
    </div>

    <div class="clearfix"></div>

</div><!--rules-container-->
<div class="clearfix"></div>
</div><!--rules-body-->
<div class="clearfix"></div>
