
/*-----------------------------------------------------------------------------------*/
/*	CSS Reset & Clearfix
/*-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }
code { white-space: normal; }
a:active, a:focus, img { outline: 0; text-decoration:none; outline:0; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .clearfix { display: block; clear:both; } /* End hide from IE Mac */ .none { display: none; } /* End Clearfix */
.left { float:left; }
.right { float:right; }


html, body {
	margin: 0;
	padding: 0;
	height:100%;
	width:100%;
	font-family:Open Sans, Helvetica, Arial, sans-serif;
	background: #4a3566; /* Old browsers */
	background: -moz-linear-gradient(top, #4a3566 10%, #22192e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #4a3566 10%,#22192e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #4a3566 10%,#22192e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a3566', endColorstr='#22192e',GradientType=0 ); /* IE6-9 */
}

/*-----------------------------------------------------------------------------------*/
/*	Start Page
/*-----------------------------------------------------------------------------------*/

.logo {
	width:269px;
	height:275px;
	margin: 100px auto;
	background:transparent url('images/logo.png') no-repeat center center;
}
a.btn-start,
a.btn-start:link,
a.btn-start:visited {
	display:block;
	margin:0 auto;
	width:300px;
	height:60px;
	line-height:60px;
	color:#fff;
	font-weight:400;
	font-size:16px;
	text-decoration:none;
	background:#1a832b;
	border:1px solid #2aa63f;
	border-radius:7px;
	text-align:center;
}
a.btn-start:hover {
	background:#229034;
}
.master-card {
	width:300px;
	margin:30px auto;
	background:transparent url('images/icn-word-master.png') no-repeat 10px 10px;
}
input.code-box-start {
	float:left;
	height:50px;
	width:165px;
	margin:0 10px 15px 50px;
	border-radius:7px;
	background:#2a1e39;
	border:1px solid #463264;
	line-height:50px;
	vertical-align:middle;
	text-align:center;
	font-weight:300;
	color:#fff;
	font-size:16px;
	box-shadow: inset 0 3px 3px rgba(0,0,0,0.3);
}
::-webkit-input-placeholder {
	font-weight:300;
	font-size:14px;
    color: rgba(255,255,255,0.2);
}
:-moz-placeholder { /* Firefox 18- */
    font-weight:300;
	font-size:14px;
    color: rgba(255,255,255,0.2);
}
::-moz-placeholder {  /* Firefox 19+ */
    font-weight:300;
	font-size:14px;
    color: rgba(255,255,255,0.2);
}
:-ms-input-placeholder {  
   	font-weight:300;
	font-size:14px;
    color: rgba(255,255,255,0.2);
}
a.btn-join,
a.btn-join:link,
a.btn-join:visited {
	float:left;
	margin:0;
	height:52px;
	width:68px;
	border-radius:7px;
	background:#58407d;
	border:1px solid #624a89;
	line-height:52px;
	vertical-align:middle;
	text-align:center;
	letter-spacing:1px;
	color:#fff;
	font-size:15px;
	text-decoration:none;
}
a.btn-join:hover {
	text-decoration:none;
	background:#624a89;
}

/*-----------------------------------------------------------------------------------*/
/*	Game Board
/*-----------------------------------------------------------------------------------*/

.game-table {
	height:100%;
	width:100%;
	text-align:center;
}
.container {
	margin:10px auto;
	max-width:920px;
	text-align:center;
}
.card-container {
	text-align:center;
	margin:20px;
}
.card {
	float:left;
	width:24%;
	border-radius:5px;
	margin:0.5%;
	background:#FBF3E5;
}
.card span {
	display:block;
	font-weight:400;
	height:70px;
	line-height:70px;
	font-size:15px;
	text-align:center;
}
.card.blue-on {
	color:#fff;
	background:#1fc4d7;
}
.card.blue-on span.board {
	color:rgba(0,0,0,0.4);
}
.card.blue-off {
	color:rgba(0,0,0,0.4);
	font-weight:400;
	background:#1c6479;
}
.card.red-on {
	color:#fff;
	background:#e24b16;
}
.card.red-on span.board {
	color:rgba(0,0,0,0.4);
}
.card.red-off {
	color:rgba(0,0,0,0.4);
	font-weight:400;
	background:#913218;
}
.card.citizen-on {
	color:#fff;
	background:#b4aba4;
}
.card.citizen-on span.board {
	color:rgba(0,0,0,0.4);
}
.card.citizen-off {
	color:rgba(0,0,0,0.4);
	font-weight:400;
	background:#6e6b67;
}
.card.assassin {
	color:#fff;
	background:#1e1b21;
}
.top-line {
	height:10px;
	width:100%;
	background:#2d2042;
}
.utilities-wrapper {
	width:100%;
	height:60px;
	text-align:center;
	background:transparent url('images/bkg-header.png') no-repeat top center;
}
.utilities {
	width:980px;
	height:60px;
	margin:0 auto;
	text-align:center;
}
.utilities a.logo-menu,
.utilities a.logo-menu:link,
.utilities a.logo-menu:visited {
	float:left;
	width:130px;
	height:60px;
	background:transparent url('images/btn-menu.png') no-repeat center center;
}
.utilities .player-indicator {
	float:left;
	height:40px;
	width:20px;
	margin-left:35px;
}
.utilities .player-indicator.blue {
	background:transparent url('images/player-blue.png') no-repeat left 10px;
}
.utilities .player-indicator.red {
	background:transparent url('images/player-red.png') no-repeat left 10px;
}
.utilities a.btn-end-turn,
.utilities a.btn-end-turn:link,
.utilities a.btn-end-turn:visited {
	float:left;
	height:30px;
	line-height:30px;
	padding:0 20px;
	margin:0 20px;
	background:#594277;
	border-radius:3px;
	color:#fff;
	font-size:13px;
	text-decoration:none;
}
.utilities a.btn-end-turn:hover {
	background:#6c548c;
}
.utilities a.btn-restart,
.utilities a.btn-restart:link,
.utilities a.btn-restart:visited {
	float:right;
	height:30px;
	width:40px;
	margin:0 10px 0 0;
	background:transparent url('images/btn-restart.png') no-repeat center center;
}
.utilities .game-code {
	float:right;
	height:30px;
	line-height:30px;
	color:#6e5c87;
	font-size:13px;
	margin:0 10px 0 0;
}

/*-----------------------------------------------------------------------------------*/
/*	7.	Mobile version
/*-----------------------------------------------------------------------------------*/

@media screen and (max-width: 980px) {
	.utilities-wrapper {
		background:transparent;
	}
	.utilities {
		width:100%;
		background:transparent url('images/bkg-header.png') no-repeat -120px top;
	}
	.utilities .player-indicator {
		margin-left:25px;
	}
	.card span {
		font-size:14px;
	}
}
@media screen and (max-width: 760px) {
	.card-container {
		margin:10px;
	}
	.card {
		width:32%;
		height:60px;
		border-radius:5px;
		margin:0.5%;
	}
	.card span {
		line-height:60px;
	}
}
@media screen and (max-width: 540px) {
	.utilities-wrapper {
		height:45px;
	}
	.utilities {
		background-position: -200px top;
		height:45px;
	}
	.utilities a.logo-menu,
	.utilities a.logo-menu:link,
	.utilities a.logo-menu:visited {
		float:left;
		width:30px;
		height:30px;
		margin:0 10px;
		background:transparent url('images/btn-menu.png') no-repeat left top;
	}
	.card-container {
		margin:0 10px;
	}
	.card {
		width:48.6%;
		height:38px;
		margin:0.7%;
	}
	.card span {
		font-size:13px;
		line-height:38px;
	}
}

/*-----------------------------------------------------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	
	.logo {
		background:transparent url('images/logo@2x.png') no-repeat center center;
		background-size:269px 275px;
	}
	.game-table {
		background:transparent url('images/bkg-header@2x.png') no-repeat top center;
		background-size:1274px 51px;
	}    
	.utilities a.logo-menu,
	.utilities a.logo-menu:link,
	.utilities a.logo-menu:visited {
		background:transparent url('images/btn-menu@2x.png') no-repeat center center;
		background-size:115px 44px;
	}
	.utilities .player-indicator.blue {
		background:transparent url('images/player-blue@2x.png') no-repeat left center;
		background-size:16px 16px;
	}
	.utilities .player-indicator.red {
		background:transparent url('images/player-red@2x.png') no-repeat left center;
		background-size:16px 16px;
	}
	.utilities a.btn-restart,
	.utilities a.btn-restart:link,
	.utilities a.btn-restart:visited {
		background:transparent url('images/btn-restart@2x.png') no-repeat center center;
		background-size:23px 23px;
	}
	.master-card {
		background:transparent url('images/icn-word-master@2x.png') no-repeat 10px 10px;
		background-size:28px 33px;
	}

}
